input {
  height: 2.5rem;
  margin-left: 0.5rem;
  border-radius: 8px;
  outline: solid 2px pink;
  border: 0;
  width: 10rem;
  &.small {
    outline: solid 2px purple;
    border-radius: 4px;
    height: 2rem;
    margin-left: 0.25rem;
  }
}
